sphinx
sphinx-design>=0.4.1
sphinx-copybutton
sphinx-togglebutton
sphinx-subfigure
myst-nb
matplotlib
pandas
ipyleaflet
xarray
bulma-sphinx-theme>=0.2.0rc1
# git+https://github.com/zclab/bulma-sphinx-theme
